header{
	background-color: yellow;
	height: 500px;
	width: 1000px;
	margin: 0px auto;
}

section{
	background-color: black;
	width: 1000px;
	margin: 0px auto;
	height: 800px;
}

footer{
	background-color: gray;
	width: 1000px;
	margin: 0px auto;
	height: 100px;
}

#main-header{
	background-color: magenta;
	height: 10%;
}

#slider{
	background-color: white;
	height: 90%;
}

.myskill-row{
	background-color: orange;
	height: 50%;
}

.myskill-col{
	background-color: red;
	height: 90%;
	width: 30%;
	margin: 3px;
	float: left;
}