body{
	background-color: blue;
	font-size: 10pt;
}
table{
	background-color: white;
	margin: 200px auto;
	border-collapse: collapse;
}

td{
	padding: 10px;
	border: gray 3px solid;
}

th{
	border: gray 3px dotted;
	padding: 10px;
	background-color: green;
	color: white;
	font-size: 20pt;
}

.tabel_2 table{
	background-color: black;
	margin: 20px auto;
	border-collapse: collapse;
	color: white;
}

.tabel_2 table tr td{
	border: yellow 3px solid;
}

.tabel_2 table tr th{
	border: yellow 3px solid;
	background-color: magenta;
	color: red;
}

#table_1{
	width: 500px;
}